/*
 *= require bootstrap
 *= require_self
 */

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.pw-match {
  color: green;
  font-weight: bold;
}

.login-tabs > li:hover,
.login-tabs > li:focus {
  background-color: #eeeeee;
}

.login-tabs > li.active {
  background-color: #428bca;
  color: #fff;
}

.login-tabs > li {
  border-radius: 4px;
  display: block;
  float: left;
  margin-right: 4px;
  padding: 10px 15px;
  position: relative;
}

.form-selector {
  margin: 40px 0 20px;
}
